@import url("./design.css");
@import url("./style.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white-color: #ededed;
    --black-color: #111111;
    --gray-color: #1f1f1f;

    --primary-font: 'Courier New', Courier, monospace;
    --secondary-font: "Roboto", sans-serif;
}

body {
    background-color: var(--black-color);
    color: var(--white-color);
    width: 1100px;

    margin: 0 auto;
    padding-bottom: 75px;

    font-family: var(--secondary-font) !important;
    font-weight: 300;
}