@import url("./design.css");
@import url("./style.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white-color: #ededed;
    --black-color: #111111;
    --gray-color: #1f1f1f;

    --primary-font: 'Courier New', Courier, monospace;
    --secondary-font: "Roboto", sans-serif;
}

body {
    background-color: var(--black-color);
    color: var(--white-color);
    width: 1150px;

    margin: 0 auto;
    padding-bottom: 75px;

    font-family: var(--secondary-font) !important;
    font-weight: 300;

    transition: all .3s ease;
    
    h1, label, button, img, div {
        transform: all .3s ease;
    }

    .word {
        display: inline-block;
        
        opacity: 0;
        transform: translateY(8px);
        filter: blur(5px);
        animation: fadeUpBlur 0.45s ease-out forwards;
        animation-delay: calc(0.04s + var(--i) * 0.03s);
    }
}
body.light img {
  filter: invert(1) brightness(0);
}
@keyframes fadeUpBlur {
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}